body {
  background-image: url(Imagesportfolio/rue.jpg);
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 200%;
  border-style: solid;
  border-color: white;
  border-radius: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
}

p {
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 130%
}

#img {
  width: 10%;
}

#img1 {
  width: 30%;
  margin-left: 150px;
}

#img2 {
  width: 30%;
  margin-top: -100px;
}

.zoom {
width: 320px;
height: 240px;
}

.image {
width: 100%;
height: 100%;
}

.image img {
-webkit-transition: all 1s ease;
transition: all 1s ease;
}
.image:hover img {
-webkit-transform:scale(2);
transform:scale(2);
}

.box {
  display: flex;
  flex-direction: row;
}